<%= render 'form' %>

<div class="container" id="title-text">
  <span id="title-term">MEDI-SEARCH</span>
</div>

<div class="container" id="title-box"> 

<p><strong>Medi-Search allows you to search medical device-related adverse events reports.</strong> Federal law requires medical device manufactures, importers, and device user facilities to report adverse events to the FDA. Medi-Search makes those reports easily searchable using <a href="https://open.fda.gov/" title="">FDA open data</a>. Go ahead - Search!</p>

</div>
